* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container .heading {
    min-height: 200px;
    background-color: #000;
}

.container .heading h1 {
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Press Start 2P', cursive;
}

.container .art {
    height: calc(100vh - 200px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
}

.container .art div {
    border: 1px solid #ddd;
    /* cursor: pointer; */
    background-color: transparent;
    transition: all 0.1s;
    aspect-ratio: 1/1;
}

.container .toolbar .color div {
    width: 20px;
    aspect-ratio: 1/1;
    margin: 1px;
    float: left;
}