* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container .heading {
    min-height: 200px;
    background-color: #000;
    padding-bottom: 30px;
}

.container .heading h1 {
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Press Start 2P', cursive;
}

.container .art {
    max-height: calc(100vh - 200px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
}

.container .art div {
    border: 1px solid #ddd;
    /* cursor: pointer; */
    background-color: transparent;
    transition: all 0.1s;
    aspect-ratio: 1/1;
}

.container .toolbar .color {
    display: flex;
    flex-wrap: wrap;
    /* gap: 1px; */
    justify-content: space-between;
}

.container .toolbar .color div {
    width: 20px;
    aspect-ratio: 1/1;
    border: 1px solid #000;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 5px;
    flex-wrap: wrap;
}

.buttons .btn {
    width: 150px;
    height: 30px;
    background-color: #000;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
}

.buttons .btn:hover {
    animation: shake 0.2s linear;
}

@keyframes shake {

    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(-5px);
    }
}